/* color palette from <https://github.com/vuejs/theme> */
:root {
    --base-white: #ffffff;
    --base-white-soft: #f8f8f8;
    --base-white-mute: #f2f2f2;
    --base-grey: #c9c9c9;
    --base-grey-lighter: #eaeaea;
    --base-grey-darker: #909090;
    --base-black: #181818;
    --base-black-soft: #222222;
    --base-black-mute: #282828;
    --base-black-extra-mute: #484848;
    --base-very-light-primary: hsla(210, 100%, 97%, 1);
    --base-lighter-primary: hsla(210, 100%, 85%, 1);
    --base-light-primary: hsla(210, 100%, 80%, 1);
    --base-primary: hsla(210, 100%, 70%, 1);
    --base-mute-primary: hsla(210, 25%, 70%, 1);
    --base-dark-primary: hsla(210, 100%, 40%, 1);
    --base-darker-primary: hsla(210, 100%, 30%, 1);
    --base-very-dark-primary: hsla(210, 34%, 13%, 1);
    --base-very-dark-primary-translucent: hsla(210, 34%, 13%, 0.7);
    --base-secondary: hsla(30, 100%, 70%, 1);
    --base-tertiary: hsla(290, 76%, 82%, 1);
    --base-green: #70FFB8;
    --base-darker-green: #00CC66;
    --base-red: #F47BA7;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--base-white);
    --color-periodic-flash: var(--base-tertiary);
    --color-disabled-button: var(--base-mute-primary);
    /*Main page: buttons*/
    --color-mainpage-button-text: var(--base-white);
    --color-mainpage-button-background: var(--base-dark-primary);
    --color-mainpage-button-hover-background: var(--base-secondary);
    --color-mainpage-button-active-background: var(--base-dark-primary);
    --color-mainpage-button-tooltip-text: var(--base-very-light-primary);
    --color-mainpage-button-tooltip-background: var(--base-black-mute);
    --color-mainpage-button-tooltip-border: var(--base-black-mute);
    --color-mainpage-aboutthis-background: var(--base-black-mute);
    --color-mainpage-aboutthis-text: var(--base-white);
    /*Main page: footer*/
    --color-footer-background: var(--base-black-mute);
    --color-footer-github-card-icon-background: var(--base-black); /*It gets inverted*/
    --color-footer-github-card-name-text: var(--base-white);
    --color-footer-github-card-name-background: var(--base-black-extra-mute);
    --color-footer-github-card-hover: var(--base-black-mute);
    /*Monoalphabetic cipher: NavBar component*/
    --color-navbar-first-background: var(--base-black-mute);
    --color-navbar-second-background: transparent;
    --color-navbar-button-background: var(--base-dark-primary);
    --color-navbar-button-border: var(--base-black-mute);
    --color-navbar-button-text: var(--base-very-light-primary);
    --color-navbar-button-hover-background: var(--base-secondary);
    --color-navbar-button-hover-border: var(--base-very-light-primary);
    --color-navbar-button-active-background: var(--base-dark-primary);
    --color-navbar-button-tooltip-text: var(--base-very-light-primary);
    --color-navbar-button-tooltip-background: var(--base-black-mute);
    --color-navbar-button-tooltip-border: var(--base-black-mute);
    /*Monoalphabetic cipher: text area components*/
    --color-mono-textarea-title-border: var(--base-dark-primary);
    --color-mono-textarea-title-background: var(--base-dark-primary);
    --color-mono-textarea-title-text: var(--base-very-light-primary);
    --color-mono-textarea-border: var(--base-dark-primary);
    --color-mono-textarea-background: var(--base-white);
    --color-mono-textarea-text: var(--base-black);
    --color-mono-textarea-info-icon-background: var(--base-dark-primary);
    --color-mono-textarea-info-icon-text: var(--base-white);
    /*Monoalphabetic cipher: encrypted text area-specific components*/
    --color-mono-encrypted-textarea-help-icon-background: var(--base-black-mute);
    --color-mono-encrypted-textarea-icon-hover-background: var(--base-secondary);
    /*Monoalphabetic cipher: decrypted text area-specific components*/
    --color-mono-decrypted-textarea-info-icon-hover-background: var(--base-primary);
    --color-mono-decrypted-textarea-info-data-background: transparent;
    --color-mono-decrypted-textarea-info-data-text: black;
    /*Monoalphabetic cipher: letter grid components*/
    --color-mono-table-title-text: var(--base-very-light-primary);
    --color-mono-table-title-background: var(--base-dark-primary);
    --color-mono-table-title-border: var(--base-dark-primary);
    --color-mono-table-title-hover-background: var(--base-primary);
    --color-mono-table-title-hover-border: var(--base-primary);
    --color-mono-table-title-clickable-hover-background: var(--base-secondary);
    --color-mono-table-title-clickable-hover-border: var(--base-secondary);
    --color-mono-table-letters-background: var(--base-dark-primary);
    --color-mono-table-letters-hover-background: var(--base-primary);
    --color-mono-table-letters-hover-border: var(--base-primary);
    --color-mono-table-editable-letters-hover-background: var(--base-secondary);
    --color-mono-table-editable-letters-hover-border: var(--base-secondary);
    --color-mono-table-letters-text: var(--base-very-light-primary);
    --color-mono-table-content-border: var(--base-dark-primary);
    --color-mono-table-content-background: var(--base-white);
    --color-mono-table-content-hover-background: var(--base-white);
    --color-mono-table-content-hover-border: var(--base-primary);
    --color-mono-table-editable-content-hover-background: var(--base-white);
    --color-mono-table-editable-content-hover-border: var(--base-secondary);
    --color-mono-table-content-text: var(--base-very-dark-primary);
    --color-mono-table-content-correct-background: var(--base-green);
    --color-mono-table-content-wrong-background: var(--base-red);
    --color-mono-table-letters-disabled-background: var(--base-mute-primary);
    --color-mono-table-letters-disabled-border: var(--base-mute-primary);
    --color-mono-table-content-disabled-border: var(--base-mute-primary);
    --color-mono-table-letters-hint-background: var(--base-tertiary);
    --color-mono-table-letters-hint-border: var(--base-tertiary);
    --color-mono-table-content-hint-background: var(--base-tertiary);
    --color-mono-table-content-hint-border: var(--base-dark-primary);
    /*Monoalphabetic cipher: toolbar component*/
    --color-toolbar-first-background: transparent;
    --color-toolbar-second-background: var(--base-black-mute);
    --color-toolbar-button-background: var(--base-dark-primary);
    --color-toolbar-button-border: var(--base-black-mute);
    --color-toolbar-button-text: var(--base-very-light-primary);
    --color-toolbar-button-hover-background: var(--base-secondary);
    --color-toolbar-button-hover-border: var(--base-very-light-primary);
    --color-toolbar-button-active-background: var(--base-dark-primary);
    --color-toolbar-button-tooltip-text: var(--base-very-light-primary);
    --color-toolbar-button-tooltip-background: var(--base-black-mute);
    --color-toolbar-button-tooltip-border: var(--base-black-mute);
    /*Monoalphabetic cipher: 'about this' component*/
    --color-aboutthis-general-background: var(--base-very-dark-primary-translucent);
    --color-aboutthis-close-background: var(--base-dark-primary);
    --color-aboutthis-close-border: var(--base-dark-primary);
    --color-aboutthis-close-hover-background: var(--base-secondary);
    --color-aboutthis-close-hover-border: var(--base-secondary);
    --color-aboutthis-close-active-background: var(--base-dark-primary);
    --color-aboutthis-close-active-border: var(--base-white);
    --color-aboutthis-page-indicator-background: var(--base-dark-primary);
    --color-aboutthis-page-indicator-text: var(--base-white);
    /*Monoalphabetic cipher: 'about this' component, first page*/
    --color-aboutthis-first-page-blob-background: var(--base-dark-primary);
    --color-aboutthis-first-page-blob-border: var(--base-dark-primary);
    --color-aboutthis-first-page-blob-internal-border: var(--base-white);
    --color-aboutthis-first-page-blob-text: var(--base-white);
    --color-aboutthis-first-page-example-default-letter-background: var(--base-darker-primary);
    --color-aboutthis-first-page-example-highlighted-letter-background: var(--base-darker-green);
    /*Monoalphabetic cipher: 'about this' component, second page*/
    --color-aboutthis-second-page-blob-background: var(--base-dark-primary);
    --color-aboutthis-second-page-blob-border: var(--base-dark-primary);
    --color-aboutthis-second-page-blob-internal-border: var(--base-white);
    --color-aboutthis-second-page-blob-text: var(--base-white);
    --color-aboutthis-second-page-diagram-element-background: var(--base-darker-primary);
    /*Monoalphabetic cipher: text settings component*/
    --color-text-settings-checkbox-unchecked-background: var(--base-lighter-primary);
    --color-text-settings-checkbox-checked-background: var(--base-green);
    --color-text-settings-checkbox-hover-background: var(--base-primary);
    --color-text-settings-close-background: var(--base-dark-primary);
    --color-text-settings-close-border: var(--base-dark-primary);
    --color-text-settings-close-hover-background: var(--base-secondary);
    --color-text-settings-close-hover-border: var(--base-secondary);
    --color-text-settings-close-active-background: var(--base-dark-primary);
    --color-text-settings-close-active-border: var(--base-white);
    --color-text-settings-title-background: var(--base-dark-primary);
    --color-text-settings-title-text: var(--base-white);
    --color-text-settings-body-background: var(--base-white);
    /*Monoalphabetic cipher: session expired component*/
    --color-session-expired-popup-close-background: var(--base-dark-primary);
    --color-session-expired-popup-close-border: var(--base-dark-primary);
    --color-session-expired-popup-close-hover-background: var(--base-secondary);
    --color-session-expired-popup-close-hover-border: var(--base-secondary);
    --color-session-expired-popup-close-active-background: var(--base-dark-primary);
    --color-session-expired-popup-close-active-border: var(--base-white);
    --color-session-expired-popup-title-background: var(--base-dark-primary);
    --color-session-expired-popup-title-text: var(--base-white);
    --color-session-expired-popup-body-background: var(--base-white);
    --section-gap: 160px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--base-black);
    --color-background-soft: var(--base-black-soft);
    --color-background-mute: var(--base-black-mute);

    --color-border: var(--base-divider-dark-2);
    --color-border-hover: var(--base-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--base-white);
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
