# Example backend environment for local development
PINO_LOG_LEVEL=trace
SESSION_DURATION=60000
MAX_HINTS=3
FRONTEND_ADDRESS=http://localhost:5173
DATABASE_URL=postgresql://cryptographyDevUser:notTheActualProductionPassword@localhost:5432/cryptographyDev?schema=public
SESSION_DELETION_CRON_SCHEDULE="0/30 * * * * *"
