/* color palette from <https://github.com/vuejs/theme> */
:root {
    --base-white: #ffffff;
    --base-white-soft: #f8f8f8;
    --base-white-mute: #f2f2f2;
    --base-grey: #c9c9c9;
    --base-grey-lighter: #eaeaea;
    --base-grey-darker: #909090;
    --base-black: #181818;
    --base-black-soft: #222222;
    --base-black-mute: #282828;
    --base-very-light-primary: hsla(210, 100%, 97%, 1);
    --base-lighter-primary: hsla(210, 100%, 85%, 1);
    --base-light-primary: hsla(210, 100%, 80%, 1);
    --base-primary: hsla(210, 100%, 70%, 1);
    --base-dark-primary: hsla(210, 100%, 40%, 1);
    --base-darker-primary: hsla(210, 100%, 30%, 1);
    --base-very-dark-primary: hsla(210, 34%, 13%, 1);
    --base-secondary: hsla(30, 100%, 70%, 1);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--base-very-light-primary);
    /*NavBar component*/
    --color-navbar-first-background: var(--base-black-mute);
    --color-navbar-second-background: var(--base-very-light-primary);
    --color-navbar-button-background: var(--base-dark-primary);
    --color-navbar-button-border: var(--base-black-mute);
    --color-navbar-button-text: var(--base-very-light-primary);
    --color-navbar-button-hover-background: var(--base-secondary);
    --color-navbar-button-hover-border: var(--base-very-light-primary);
    --color-navbar-button-tooltip-text: var(--base-very-light-primary);
    --color-navbar-button-tooltip-background: var(--base-black-mute);
    --color-navbar-button-tooltip-border: var(--base-black-mute);
    /*Monoalphabetic cipher: letter grid components*/
    --color-mono-table-title-text: var(--base-very-light-primary);
    --color-mono-table-title-background: var(--base-dark-primary);
    --color-mono-table-title-border: var(--base-dark-primary);
    --color-mono-table-title-hover-background: var(--base-primary);
    --color-mono-table-title-hover-border: var(--base-primary);
    --color-mono-table-title-clickable-hover-background: var(--base-secondary);
    --color-mono-table-title-clickable-hover-border: var(--base-secondary);
    --color-mono-table-letters-background: var(--base-dark-primary);
    --color-mono-table-letters-hover-background: var(--base-primary);
    --color-mono-table-letters-hover-border: var(--base-primary);
    --color-mono-table-editable-letters-hover-background: var(--base-secondary);
    --color-mono-table-editable-letters-hover-border: var(--base-secondary);
    --color-mono-table-letters-text: var(--base-very-light-primary);
    --color-mono-table-content-border: var(--base-dark-primary);
    --color-mono-table-content-background: var(--base-very-light-primary);
    --color-mono-table-content-hover-background: var(--base-white);
    --color-mono-table-content-hover-border: var(--base-primary);
    --color-mono-table-editable-content-hover-background: var(--base-white);
    --color-mono-table-editable-content-hover-border: var(--base-secondary);
    --color-mono-table-content-text: var(--base-very-dark-primary);
    --section-gap: 160px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--base-black);
    --color-background-soft: var(--base-black-soft);
    --color-background-mute: var(--base-black-mute);

    --color-border: var(--base-divider-dark-2);
    --color-border-hover: var(--base-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--base-white);
  }
}*/

/* Font related */
:root {
  --navbar-base-font-size: 1rem;
  --navbar-base-font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
